/* Estilos encabezado */

.encabezado{
  margin: 0 auto;
  background:url(./assets/4.jpg);
  max-width: 1600px;
  height: 78px;
  position: relative;
}

h1{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size:60px;
  color: rgb(250, 249, 249);
}

/* Estilos body */

.imagen{
  margin-left:45%;
}

h4{
  text-align: center;
  font-size:12px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
  background-image: url(../src/assets/5.jpg);
  border:2px solid rgb(88, 47, 19);
  border-style: double;
  max-width: 1180px;
  height: 420px;
  border-radius: 4cm;
  margin: 0 auto;
}

.container{
  box-shadow: 0 8px 8px 0 rgb(238, 164, 103), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.titulo{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  color: black;
}

.cuadro2{
  margin: 10px 40px;
  padding: 10px;
  background-color: rgb(220, 248, 155);
  width: 130px;
  height:30px;
  border-radius: 5px;
  border-style: outset;
  float: left;
}

.cuadro2:hover{
  box-shadow: 0 8px 8px 0 rgb(145, 85, 36), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.cuadro3{
  margin:10px;
  padding:10px;
  float: left;
  background-color:rgb(236, 241, 241);
  width: 130px;
  height: 30px;
  border-radius:5px;
  border-style:outset;
}

.cuadro3:hover{
  box-shadow: 0 8px 8px 0 rgb(82, 212, 78), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.cuadro4{
  margin:10px;
  padding: 10px;
  float: left;
  background-color:rgb(220, 248, 155);
  width: 130px;
  height: 30px;
  border-radius:5px;
  border-style:outset;
}

.cuadro4:hover{
  box-shadow: 0 8px 8px 0 rgb(145, 85, 36), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.cuadro5{
  margin: 10px;
  padding:10px;
  float: left;
  background-color:rgb(236, 241, 241);
  width: 130px;
  height: 30px;
  border-radius:5px;
  border-style:outset;
}

.cuadro5:hover{
  box-shadow: 0 8px 8px 0 rgb(82, 212, 78), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.cuadro6{
  margin:10px;
  padding:10px;
  float: left;
  background-color:rgb(220, 248, 155);
  width: 130px;
  height: 30px;
  border-radius:5px;
  border-style:outset;
}

.cuadro6:hover{
  box-shadow: 0 8px 8px 0 rgb(206, 100, 13), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}


.cuadro7{
  margin:10px;
  padding:10px;
  float: left;
  background-color:rgb(250, 250, 250);
  width: 120px;
  height: 30px;
  border-radius:5px;
  border-style:outset;
}

.cuadro7:hover{
  box-shadow: 0 8px 8px 0 rgb(82, 212, 78), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.con3{
  background-color:rgb(204, 158, 97);
  margin:5px 90px;
  float: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size:15px;
  width: 70px;
  height:20px;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgb(21, 150, 64), 0 6px 20px 0 rgba(226, 203, 72, 0.89);
}

.con4{
  background-color:rgb(118, 228, 85);
  margin:16px 300px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size:15px;
  width: 70px;
  height:40px;
  float: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgb(21, 150, 64), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.con5{
  background-color:rgb(204, 158, 97);
  margin:-85px 360px;
  font-family:cursive;
  text-align: center;
  font-size:15px;
  width: 70px;
  height:20px;
  float: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgb(224, 180, 59), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.con6{
  background-color:rgb(118, 228, 85);
  margin:-35px 650px;
  font-family:cursive;
  text-align: center;
  font-size:15px;
  width: 70px;
  height:20px;
  float: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgb(25, 122, 16), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

.con7{
  background-color:rgb(204, 158, 97);
  margin:-85px 820px;
  font-family:cursive;
  text-align: center;
  font-size:15px;
  width: 70px;
  height:40px;
  float: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgb(115, 76, 14), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}
.con8{
  background-color:rgb(118, 228, 85);
  margin:78px 995px;
  font-family:cursive;
  text-align: center;
  font-size:15px;
  width: 70px;
  height:54px;
  float: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px 0 rgb(21, 150, 64), 0 6px 20px 0 rgba(39, 56, 56, 0.89);
}

/*Estilos Pie */
.contenedor{
  height:35px;
  background-image: url(../src/assets/4.jpg);
  text-align: center;
}


img{
  margin-top:-11px;
  padding: 18px;
}

body{
  height:800px;
  background-image: url(../src/assets/9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





